.footer {
	background-color: rgb(56, 124, 233);
	display: flex;
   
    flex-direction: column;
     align-content: center;

    
}

.footerImages {
    display: flex  ;
}
h4{

    text-align: center;
}
